<div class="flex flex-col flex-auto min-w-0 w-full">

    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-6">
        <div class="flex flex-col w-full">
            <div class="mt-2 text-4xl sm:text-4xl font-extrabold tracking-tight leading-tight">
                Task Manager
            </div>
            <!-- Form -->
            <div class="mt-8 sm:mt-5 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
                <form [formGroup]="taskForm">

                    <!-- Section -->
                    <div class="w-full">
                        <div class="text-xl">Profile</div>
                        <div class="text-secondary">Following information is publicly displayed, be careful!</div>
                    </div>
                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <!-- Description -->
                        <div class="sm:col-span-4">
                            <mat-form-field
                                class="w-full"
                                [subscriptSizing]="'dynamic'">
                                <mat-label>Description</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:annotation'"
                                    matPrefix></mat-icon>
                                <input
                                    [formControlName]="'description'"
                                    matInput>
                            </mat-form-field>
                        </div>
                        <!-- Status -->
                        <div class="sm:col-span-2">
                            <mat-form-field
                                class="w-full"
                                [subscriptSizing]="'dynamic'">
                                <mat-label>Status</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:menu'"
                                    matPrefix></mat-icon>
                                    <mat-select [formControlName]="'status'">
                                        <mat-option *ngFor="let task of tasks" [value]="task">
                                            {{TaskLabelMapping[task]}}
                                        </mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Date -->
                        <div class="sm:col-span-2">
                            <mat-form-field class="w-full">
                                <mat-label>Date Event</mat-label>
                                <input [formControlName]="'date'" matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                        </div>
                    </div>

                    <!-- Divider -->
                    <div class="my-5"></div>

                    <!-- Actions -->
                    <div class="flex items-center justify-end">
                        <button
                            mat-stroked-button
                            type="button">
                            Cancel
                        </button>
                        <button
                            class="ml-4"
                            mat-flat-button
                            type="button"
                            (click)="sendForm()"
                            [color]="'primary'">
                            Save  
                        </button>
                    </div>
            
                    <!-- Divider -->
                    <div class="my-5 border-t"></div>
            
                    <!-- Section -->
                    <div class="w-full">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                          
                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef> No. </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                          
                            <!-- Description Column -->
                            <ng-container matColumnDef="description">
                              <th mat-header-cell *matHeaderCellDef> Description </th>
                              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                            </ng-container>
                          
                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                              <th mat-header-cell *matHeaderCellDef> Status </th>
                              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                            </ng-container>
                          
                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                              <th mat-header-cell *matHeaderCellDef> Date </th>
                              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                    </div>
                                
                    <!-- Divider -->
                    <div class="mt-11 mb-10 border-t"></div>
            
                    
                </form>
            </div>
        </div>
    </div>
</div>

